@font-face{
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.ttf");
}
 :root{
    --shadow: rgb(58, 58, 58);
    --background: rgb(185, 185, 185);
    --font: rgb(88, 94, 104);
    --dark-border: rgb(112, 112, 112);
    --button-bg: rgb(56, 128, 156);
    --button-font: rgb(255, 255, 255);
    --button-shadow: rgb(31, 67, 82);
    --button-hover: rgb(157, 219, 255);
    --button-shadow-hover: rgb(113, 154, 179);
 }

*{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--background);
}

h1{
    margin: 20px auto;
}

.controls{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 5px 0;
    gap: 20px;
    min-width: 400px;
    min-height: 50px;
    font-size: 32px;
}

.controls>button{
    margin: 0;
    min-width: 200px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--dark-border);
    box-shadow: 0 0 10px var(--button-shadow);
    background-color: var(--button-bg);
    color: var(--button-font);
}

.controls>button:hover{
    background-color: var(--button-hover);
    border: 1px solid var(--button-hover);
    box-shadow: 0 0 10px var(--button-shadow-hover);
    color: var(--font);
}

.controls>button:active{
    background-color: var(--button-shadow);
    border: 1px solid var(--button-shadow);
    box-shadow: 0 0 10px var(--button-shadow);
    color: var(--button-font);
}

.controls>button:disabled{
    background-color: var(--background);
    border: 1px solid var(--font);
    box-shadow: 0 0 10px var(--font);
    color: var(--font);
}

.card{
    color: var(--font);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid var(--dark-border);
    border-radius: 5px;
    padding: 20px;
    gap: 20px;
    min-width: 400px;
    min-height: 200px;
    font-size: 32px;
    box-shadow: 0 0 5px var(--shadow);
}

.card>input{
    border: 1px dashed var(--dark-border);
    color: inherit;
    text-align: center;
    font-size: inherit;
    border-radius: 5px;
}

.card>input:focus{
    appearance: none;
    box-shadow: 0 0 5px var(--shadow);
    border: 1px dashed var(--dark-border);
}